body {}

h1 {
  margin-left: 14%
}

p {
  margin-left: 12.5%;
}

.have {
  margin-left: 10%;
}

.type {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.size1 {
  margin-left: 10%;
}

.size2 {
  margin-left: 2.5%;
}

.purch {
  margin-left: 15%;
}

.h2-1 {
  margin-left: 15%;
}

.h3-1 {
  margin-left: 13%;
}

.submit {
  margin-left: 10%;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px
}

.Bot1 {
  background-color: #008AE6;
  border-width: 10px;
  border-radius: 5px
}

.Bot2 {
  background-color: #FFBD2E;
  border-width: 10px;
  border-radius: 5px
}

.Bot3 {
  background-color: #FDA50F;
  border-width: 20px;
  border-radius: 5px
}

.Bot4 {
  background-color: #DC143C;
  border-width: 10px;
  border-radius: 5px
}