@import url: ('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url: ('https://fonts.googleapis.com/css?family=Caveat&display=swap');

body {}

h1 {
  margin-left: 14%
}

p {
  margin-left: 12.5%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: .5px solid #e7e7e7;
  background-color: #f3f3f3;
  width: 6%;
  min-width: 100px;
  max-width: 150px
}

nav li {
  float: left;
  width: 100%;
}

nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not {
  background-color: #ddd;
}

nav li a:hover {
  background-color: #008AE6;
}

nav li a.active {
  color: #000000;
  background-image: radial-gradient(circle at bottom center, #008AE6, #FFBD2E, #DC143C);
}

nav li a:hover.onscreen {
  background-color: #DC143C;
}

nav li a:hover.onpage {
  background-color: #FFBD2E;
}

nav li a:hover.last {
  background-color: #008AE6;
}

footer h2 {
  margin-left: 15%
}

.helpsub {
  margin-left: 10%
}

.have {
  margin-left: 10%;
}

.type {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.size1 {
  margin-left: 10%;
}

.size2 {
  margin-left: 2.5%;
}

.purch {
  margin-left: 15%;
}

.h2-1 {
  margin-left: 15%;
}

.h3-1 {
  margin-left: 13%;
}

.aboutsizestyle {}

.pfontstuff {
  font-family: 'Indie Flower', cursive;
  font-size:
}

.p2fontstuff {
  font-family: 'Caveat', cursive;
  font-size:
}

.submit {
  margin-left: 10%;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px
}

.Bot1 {
  background-color: #008AE6;
  border-width: 10px;
  border-radius: 5px
}

.Bot2 {
  background-color: #FFBD2E;
  border-width: 10px;
  border-radius: 5px
}

.Bot3 {
  background-color: #FDA50F;
  border-width: 20px;
  border-radius: 5px
}

.Bot4 {
  background-color: #DC143C;
  border-width: 10px;
  border-radius: 5px
}

.hidden {
  display: none;
}